Repository stevezheng23/silio-llm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-infer-base-workflow, run-infer-llm-workflow

fix: add circleci workflow for triton base image build (cont.)
  .circleci/workflow.yml
Due: none

fix: add default config file & setup script for base image
  inference/base/config.json
  inference/base/setup.sh
Due: run-infer-base-workflow

fix: add default config file & setup script for base image (cont.)
  inference/base/config.json
Due: run-infer-base-workflow

fix: add dockerfile & model repo for base image test
  inference/base/Dockerfile
  inference/base/model_repository/custom/1/model.py
  inference/base/model_repository/custom/config.pbtxt
Due: none

fix: rename custom folder to infer
  inference/base/model_repository/infer/1/model.py
  inference/base/model_repository/infer/config.pbtxt
Due: none

fix: update triton method name to infer
  inference/base/model_repository/infer/config.pbtxt
Due: none

fix: add default requirement file
  requirements.txt
Due: none

fix: update model.py file to resolve style issue
  inference/base/model_repository/infer/1/model.py
Due: none

fix: update workflow config to fix param name typo
  .circleci/workflow.yml
Due: none

fix: add flake8 config
  .flake8
Due: none

fix: update triton base image workflow & fix issues
  .circleci/workflow.yml
Due: none

fix: update triton base image workflow & fix issues (cont.)
  .circleci/workflow.yml
Due: none

fix: update workflow.yml to fix typo
  .circleci/workflow.yml
Due: none

fix: update base dockerfile to fix typo
  inference/base/Dockerfile
Due: none

fix: add config, dockerfile & setup script for llm model
  inference/llm/Dockerfile
  inference/llm/config.json
  inference/llm/setup.sh
Due: run-infer-llm-workflow

fix: add triton model repo for llm model
  inference/llm/model_repository/generate/1/model.py
  inference/llm/model_repository/generate/config.pbtxt
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Update workflow.yml
  .circleci/workflow.yml
Due: none

Update Dockerfile
  inference/llm/Dockerfile
Due: none

Update config.json
  inference/base/config.json
Due: run-infer-base-workflow

Update config.json
  inference/llm/config.json
Due: run-infer-llm-workflow

Update config.pbtxt
  inference/llm/model_repository/generate/config.pbtxt
Due: none

fix: update base image config to make sure registry name is correct
  inference/base/config.json
Due: run-infer-base-workflow

fix: update llm model repo config to make sure method name is correct
  inference/llm/model_repository/generate/config.pbtxt
Due: none

fix: update llm model image name
  inference/llm/config.json
Due: run-infer-llm-workflow

fix: temp remove llm-infer workflow
  .circleci/config.yml
Due: none

Path conditions:
  run-infer-base-workflow: any of: inference/base/config.json
  run-infer-llm-workflow: any of: inference/llm/config.json
